/*Stylos Pagina Adaptativa*/
/*Stylos de Etiquetas*/

/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: url("../img/maquina_industrial.jpg") no-repeat center center fixed;
  background-size: cover;
  justify-content: space-between;
  /*
    `no-repeat` -> Evita que la imagen se repita
    `center center` -> coloca la imagen en el centro horizontal como vertical de la paginas
    `fixed` -> Hace que la imagen de fondo permanezca fija en su posicion mientras se desplaza la pagina 
    */
}
/*Stylos del archivo home.php*/
#Bienvenido {
  text-align: center;
  margin-bottom: 40px;
}

#ultimas-Noticias {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.nuevo-items {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(50% - 20px);
}
.nuevo-items h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.nuevo-items p {
  font-size: 0.9em;
  line-height: 1.6;
}

.nuevo-items a:hover {
  background-color: #ccc;
}

.acerca-de-image {
  margin: 20px 0;
  border-radius: 10px;
  max-width: 100%;
  display: block;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*Stylos del archivo Header.php*/

header {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px 0;
  font-size: 1.5em;
  background-color: #333;
  color: #fff;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
header nav ul li {
  margin: 0 10 px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Definimos una transicion suave para los cambios del color del fondo y el color del texto de los enlaces, con una duracion de 0.3 segundos.
  Esto crea un efecto visual cuando interactuen con los enlaces ->  ejemplo (cuando pasa el ratón sobre ellos).*/
}

header nav ul li a:hover {
  background-color: #575757;
}
